
@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.form {
position: absolute;
top: 50%;
left: 50%;
transform : translate(-50%, -50%);
background: #FFFFFF;
max-width: 360px;
padding: 65px;
text-align: center;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 45px 45px 0 rgba(0, 0, 0, 0.24);
}

.form button {
font-family: "Roboto", sans-serif;
text-transform: uppercase;
outline: 0;
background: #566098;
width: 100%;
padding: 17px;
border: 0;
margin: 0 0 9px 0;
color: #FFFFFF;
font-size: 14px;
cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
background: #3c399a;
transition: 0.8s;
}

.primero {
    height: 100vh;
    width: 100vw;
    position: relative;
background: -webkit-linear-gradient(right, #3f51b5, #6461bc);
background: -moz-linear-gradient(right, #3f51b5, #6461bc);
background: -o-linear-gradient(right, #3f51b5, #6461bc);
background: linear-gradient(to left, #3f51b5, #6461bc);
}




@media screen and (max-width: 768px)  {
.form{
    width: 60vw;
    padding: 45px;
}
}