<navbar>
<form class="contenedor" #formAddMiembro = "ngForm"  id="addMiembroForm" (ngSubmit) = "addMiembro(formAddMiembro.value)" >
    <input type = "number"  name = "nif" placeholder = "NIF" ngModel>
    <br/>
    <input type = "text" name = "nombre" placeholder = "Nombre" ngModel>
    <br/>
    <input type = "text" name = "apellido1" placeholder = "Primer  apellido" ngModel>
    <br/>
    <input type = "text" name = "apellido2" placeholder = "Segundo apellido" ngModel>
    <br/>
    <input type = "number" name = "instrumento" placeholder = "Instrumento" ngModel>
    <br/>
    <input type = "number" name = "telefono" placeholder = "Teléfono/Móvil" ngModel>
    <br/>
    <input type = "password"  name = "pin" placeholder = "PIN" ngModel>
    <br/>
    <br/>
    <p>
      <mat-form-field>
        <mat-select  class="selectorInstrumento" placeholder="Instrumento" [(ngModel)]="seleccionada" name="select_instrumento">
          <mat-option *ngFor="let op of array" [value]="op.id">
            {{op.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    
    <input type = "submit" value = "Añadir Miembro">
    
    <div class="checkDirector">
      <label for="remember-me">Es Director?</label>
      <input *ngIf="token.director==true" [checked]= "esDirector"   class = "checkboxDir" id= "checkDirector" (change) = "esDirector= !esDirector" name = "esDirector" type="checkbox" />
    </div>


  </form>

</navbar>