<navbar>
  <div class="cabecera">
    <div class="vacio_son">
      <h2 class="msg_vacio"> Listado de requerimientos </h2>
      <h2 class="msg_vacio" > del evento <i>{{this.nombre_evento}}</i> </h2>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div *ngIf="token.director==true"> 
    <button style="margin-left:12px ;" class="btn" (click)="addRequerimientoEvento()" >Añadir requerimiento</button>
  </div>
  <ng-template [ngIf]="requires.length>0" [ngIfElse]="vacio">
    <div class="courses-container"  *ngFor="let  require of requires" >
      <div class="course">
        <div class="course-preview">
        </div>
        <div class="course-info">
          <h6>Instrumento</h6>
          <h2>{{require.nombre_instrumento}}</h2>
          <h6>Aforo actual del requerimiento</h6>
          <h2>{{require.actual}} / {{require.max}}</h2>
          <section class="botonera-lista">    
            <div class="botonera-lista--forma">
              <button class="btn" *ngIf="token.director ==true" (click)="removeRequire(require.id_require)">Eliminame</button>
              <button class="btn" *ngIf="inscrito!=true && token.id_instrumento==require.id_instrumento"  (click)="inscribeToEvento(require.id_require)"> Inscribirse</button> 
              <button class="btn" *ngIf="inscrito==true && token.id_instrumento==require.id_instrumento"  (click)="desinscribe2Event(require.id_require)"> Desinscribirse</button> 
            </div>
          </section>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #vacio>
    <div class="vacio">
      <div class="vacio_son">
        <h2  class="msg_vacio">No hay miembros disponibles en este momento</h2>
      </div>
    </div>
  </ng-template>
</navbar>



