<navbar>
  <div *ngIf="token.director==true"> 
    <button class="button2" (click)="addRequerimientoEvento()" class="button2">Añadir requerimiento</button>
  </div>
  <div class="courses-container"  *ngFor="let  require of requires" >
    <div class="course">
      <div class="course-preview">
      </div>
      <div class="course-info">
        <h6>Instrumento</h6>
        <h2>{{require.nombre_instrumento}}</h2>
        <h6>Aforo actual del requerimiento</h6>
        <h2>{{require.actual}} / {{require.max}}</h2>
        <section class="botonera-lista">    
          <div class="botonera-lista--forma">
            <button class="btn" *ngIf="token.director ==true" (click)="removeRequire(require.id_require)">Eliminame</button>
            <button class="btn" *ngIf="inscrito!=true && token.id_instrumento==require.id_instrumento"  (click)="inscribeToEvento(require.id_require)"> Inscribirse</button> 
            <button class="btn" *ngIf="inscrito==true && token.id_instrumento==require.id_instrumento"  (click)="desinscribe2Event(require.id_require)"> Desinscribirse</button> 
          </div>
        </section>
      </div>
    </div>
  </div>

</navbar>



