<navbar>
  <div class="cabecera">
    <div class="vacio_son">
      <h2 class="msg_vacio">Listar bandas</h2>
    </div>
  </div>
  <ng-template  [ngIf]="bandas.length>0" [ngIfElse]="vacio">
    <div class="courses-container"  *ngFor="let banda of bandas" >
      <div class="course">
        <div class="course-preview" title="Ver Miembros de la banda {{banda.nombre}}" (click)="verMiembros(banda.id_banda)">
        </div>
        <div class="course-info">
          <h6>Nombre de la Banda</h6>
          <h2>{{banda.nombre}}</h2>
          <h6>Poblacion</h6>
          <h2>{{banda.poblacion}}</h2>
          <section class="botonera-lista">    
            <div class="botonera-lista--forma">
              <button  class="btn" *ngIf="token.director ==true" (click)="eliminarBanda(banda.id_banda)">Eliminame</button>
            </div>
          </section>
        </div>
      </div>
    </div>  
  </ng-template>
  <ng-template #vacio>
  <div class="vacio">
    <div class="vacio_son">
      <h2  class="msg_vacio">No hay bandas disponibles en este momento</h2>
    </div>
  </div>
  </ng-template>
</navbar>