
.contenedorElementoS{
    height: 65px;
    background-color: #EEE;
    justify-content: left;
    align-items: top;
    border: 3px  solid rgb(223, 220, 220);
    box-shadow: 7px 5px 38px gray;
    border-radius: 86px;
    margin: 32px;
    padding: 52px;
    }

.contenedorElementoM{
    height: 100px;
    background-color: #EEE;
    justify-content: left;
    align-items: top;
    border: 3px  solid rgb(223, 220, 220);
    box-shadow: 7px 5px 38px gray;
    border-radius: 86px;
    margin: 32px;
    padding: 52px;
    }
    
    .contenedor {
        display: flex;
        flex-direction: column;
        margin: 5rem auto;
        max-width: 600px;
        } 