.botonera-lista {
  display: flex;
  justify-content: space-around;
}

.vacio{
  position: relative;
  height: 100%;
  width: 100%;
}
.vacio_son{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  text-align: center;
  transform: translate(-50%,-50%);

}

.msg_vacio{
  font-size: 40px;
}

.cabecera{
  position: relative;
  width: 100%;
  margin-top: 50px ;
}

.check_label{
font-size: 17px;
}
.checkDirector {
 margin-top: 12px;
}



@media only screen and (max-width: 768px) and (min-width: 600px) {
  .botonera-lista {
    flex-wrap: wrap;
  }
  .botonera-lista--forma {
    text-align: center;
    width: 50%;
  }
  .courses-container{  
    width:90vw;
}
}

@media screen and (max-width: 599px) {
  .botonera-lista {
    flex-direction: column;
    align-items: center;
  }
  .course-eventos {
    max-width: 90vw;
  }

  .msg_vacio{
word-wrap: normal;

  }  
  .vacio_son{
    align-items: center;
  }

  .contenedor{
  width: 85vw;
  }
  .mat-form-field{
    width: 85vw !important
  }
  

}

    @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

    * { 
      box-sizing: border-box;
    }

    .courses-container{
      display: inline-block;
    }
    
    .course {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
      display: flex;
      margin-left: 20px;
      margin-top: 22px;
      margin-bottom: 20px;
      overflow: hidden;
      width: 450px;
      height: 310px;
    }
        
    .course-miembros {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
      display: flex;
      margin: 15px;
      overflow: hidden;
      width: 450px;
      height: 350px;
    }
      
        
    .course-eventos {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
      display: flex;
      margin: 20px;
      overflow: hidden;
      width: 550px;
      height: 310px;
    }
    body {
      background-image: linear-gradient(45deg, #7175da, #9790F2);
      font-family: 'Muli', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
    }
    
    .course h6 {
      opacity: 0.9;
      margin: 0;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    
    .course h2 {
      letter-spacing: 1px;
      margin: 10px 0;
      text-transform: uppercase;
    }
    
    .course-preview {
      background-color: #1c2f9d;
      color: #fff;
      padding: 30px;
      flex: content;
      max-width: 150px;
    }
    
    .course-info {    
      padding: 30px;
      position: relative;
      width: 100%;
    }

    .btn {
      background-color: #1c2f9d;
      border: 0;
      border-radius: 50px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
      color: #fff;
      font-size: 16px;
      padding: 12px 25px;
      margin:5px 0 ;
    }

.contenedor {
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    max-width: 500px;
    } 

.inputs_forms{
  border-radius: 8px;
  height: 35px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 13px;
}
.mat-form-field{
  width: 500px;
}

    .button2 {
        display: inline-block;
        transition: all 0.2s ease-in;
        position: relative;
        overflow: hidden;
        z-index: 1;
        color: #090909;
        padding: 0.7em 1.7em;
        font-size: 18px;
        border-radius: 0.5em;
        background: #e8e8e8;
        border: 1px solid #e8e8e8;
        box-shadow: 6px 6px 12px #c5c5c5,
                   -6px -6px 12px #ffffff;
      }
      
      .button2:active {
        color: #666;
        box-shadow: inset 4px 4px 12px #c5c5c5,
                   inset -4px -4px 12px #ffffff;
      }
      
      .button2:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scaleY(1) scaleX(1.25);
        top: 100%;
        width: 140%;
        height: 180%;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: -1;
      }
      
      .button2:after {
        content: "";
        position: absolute;
        left: 55%;
        transform: translateX(-50%) scaleY(1) scaleX(1.45);
        top: 180%;
        width: 160%;
        height: 190%;
        background-color: #009087;
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: -1;
      }
      
      .button2:hover {
        color: #ffffff;
        border: 1px solid #009087;
      }
      
      .button2:hover:before {
        top: -35%;
        background-color: #009087;
        transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
      }
      
      .button2:hover:after {
        top: -45%;
        background-color: #009087;
        transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
      }