.menu-spacer-2 {
  flex: 40 1 auto;
}
.menu-spacer {
 width: 100px;
}

@import url(https://fonts.googleapis.com/css?family=robto:400);

img {
  width: 32px;
  border-radius: 50px;
  float: left;
}

.logout {
  font-size: .8em;
  font-family: 'Roboto';
	position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  
}

.button {
	text-decoration: none;
	float: right;
  padding: 20px;
  margin: 25px;
  color: white;
  width: 35px;
  background-color: primary;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}

a.button:hover {
  width: 100px;
}

a:hover .logout{
  opacity: .9;
}

.toolbar,.sidenav{
  font-size:17px;
}

.tagNombre{
  font-size: 32px;
}


@media screen and (max-width: 599px) {
  .navigation{
    display: none;
  }
.tagNombre{
  display: none;
}



}