<div style="height: calc( 100vh - 56px);">
  <mat-toolbar color = "primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span (click)="navToGreetings()">XarangApp</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a class="toolbar" *ngIf="token.director" [routerLink]="['/addMiembro']" mat-button>Añadir Miembros</a>
        <a class="toolbar" [routerLink]="['/listarMiembros']" mat-button>Listar Miembros</a>
        <a  class="toolbar" *ngIf="token.director" [routerLink]="['/addBanda']" mat-button>Añadir Bandas</a>
        <a  class="toolbar" [routerLink]="['/listarBandas']" mat-button>Listar Bandas</a>
        <a  class="toolbar" [routerLink]="['/joinBandas']" mat-button>Unirse a Bandas</a>       
        <a  class="toolbar" [routerLink]="['/leaveBandas']" mat-button>Abandonar Bandas</a>     
        <a  class="toolbar" *ngIf="token.director" [routerLink]="['/addEvento']" mat-button>Añadir Eventos</a>
        <a class="toolbar" [routerLink]="['/listarEventos']" mat-button>Listar Eventos</a>
      </div>
      <span  class= "menu-spacer-2"></span>
      <h3>{{this.token.nombre}}</h3>
      <div (click)= "logout()" class="navigation" >
        <a class="button" >
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png">
        <div class="logout">Logout</div>
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <ng-content ></ng-content>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>

        <a class="sidenav" *ngIf="token.director" [routerLink]="['/addMiembro']" mat-list-item>Añadir Miembros</a>
        <a class="sidenav" [routerLink]="['/listarMiembros']" mat-list-item>Listar Miembros</a>
        <a  class="sidenav" *ngIf="token.director" [routerLink]="['/addBanda']" mat-list-item>Añadir Bandas</a>
        <a class="sidenav" [routerLink]="['/listarBandas']" mat-list-item>Listar Bandas</a>
        <a  class="sidenav" [routerLink]="['/joinBandas']" mat-list-item>Unirse a Bandas</a>   
        <a class="sidenav" [routerLink]="['/leaveBandas']" mat-list-item>Abandonar Bandas</a>   
        <a  class="sidenav" *ngIf="token.director" [routerLink]="['/addEvento']" mat-list-item>Añadir Eventos</a>
        <a  class="sidenav" [routerLink]="['/listarEventos']" mat-list-item>Listar Eventos</a>
        <br>
        <a style="margin-top: 59vh; font-size: 21px;" (click)="sidenav.toggle()" href="" mat-list-item>Salir</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <ng-content ></ng-content>
        </mat-sidenav-content>
  </mat-sidenav-container>
</div>