<div class = primero>
  <div class="login-page">
    <div class="form">
      <form class="register-form"></form>
      <h2>INGRESA AQUI PUTO CRACK</h2>
      <form class="login-form" #formLogin="ngForm" (ngSubmit)="logIn(formLogin.value)">
        <input type = "text" name = "nif" placeholder = "Nif" ngModel>
        <input type = "password" name = "pin" placeholder = "Pin" ngModel>
        <label for="remember-me">Recuerdame</label>
        <input   name = "remember-me" type="checkbox" />
        <input class="login-button" type="submit" value="Log In"/>
      </form>
      <a href="/"><button class="buttoncancel">Cancelar</button></a>
    </div>
  </div>
</div>
