<navbar>
  <div class="cabecera">
    <div class="vacio_son">
      <h2 class="msg_vacio"> Añade una banda</h2>
    </div>
  </div>
<form #formAddBanda = "ngForm" class="contenedor"  id ="addBandaForm" (ngSubmit) = "addBanda(formAddBanda.value)" >
  <input    class="inputs_forms" type = "text" name = "nombre" placeholder = "Nombre" ngModel>
  <br/>
  <input    class="inputs_forms" type = "text" name = "poblacion" placeholder = "Población" ngModel>
  <br/>
  <input    class="btn" type = "submit" value = "Añadir Banda">
</form>
</navbar>

