@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform : translate(-50%, -50%);
  background: #FFFFFF;
  padding: 35px ;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 45px 45px 0 rgba(0, 0, 0, 0.24);
  }

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2ff;
  width: 90%;
  border: 0;
  margin: 0 0 13px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 14px;
}
.form .buttoncancel {
font-family: "Roboto", sans-serif;
  outline: 0;
  background: #d04148;
  width: 80%;
  border: 0;
  padding: 15px;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
}
.form .buttoncancel:hover {
  background-color: #d50f19;
  transition: 0.8s
}

.form .login-button{
  width: 80%;
  background-color :#3f51b5;
  font-size: 16px;
  color: white;

}

.form .login-button:hover{
  background-color :#7270ba;
  transition:0.8s;
}


.primero {
  height: 100vh;
background: -webkit-linear-gradient(right, #3f51b5, #6461bc);
background: -moz-linear-gradient(right, #3f51b5, #6461bc);
background: -o-linear-gradient(right, #3f51b5, #6461bc);
background: linear-gradient(to left, #3f51b5, #6461bc);
}

@media screen and (max-width: 768px)  {
  .form{
      width: 60vw;
      padding: 10%;
  }
  }