<html>
  <body>
    <div class = primero>
        <div class="form">
          <h2>¿NO TIENES CUENTA? REGISTRATE YA!</h2>
          <form #formAddMiembro = "ngForm"  id ="registerForm" (ngSubmit) = "registraNuevoUsuario(formAddMiembro.value)" >
            <input type = "text"  name = "dni" placeholder = "DNI" ngModel>
            <br/>
            <input type = "text" name = "nombre" placeholder = "Nombre" ngModel>
            <br/>
            <input type = "text" name = "apellido1" placeholder = "Primer apellido" ngModel>
            <br/>
            <input type = "text" name = "apellido2" placeholder = "Segundo apellido" ngModel>
            <br/>
            <input type = "number" name = "telefono" placeholder = "Teléfono/Móvil" ngModel>
            <br/>
            <input type = "password"  name = "pwd" placeholder = "Contraseña" ngModel>
            <br/>
            <p>
              <mat-form-field>
                <mat-select  class="selectorInstrumento" placeholder="Instrumento" [(ngModel)]="seleccionada" name="instrumento">
                  <mat-option *ngFor="let op of array" [value]="op.id">
                    {{op.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </p>
             <br/>
            <input class="login-button" type = "submit" value = "Crear Miembro">
          </form>
          <a [routerLink]="['/']"><button class="buttoncancel">Cancelar</button></a>
        </div>
      </div>
    
  </body>
  
</html>