<navbar>
  <div class="cabecera">
    <div class="vacio_son">
      <h2 class="msg_vacio"> Añade un requerimiento </h2>
    </div>
  </div>

    <form #formAddRequerimiento = "ngForm" class="contenedor"  id ="addRequireForm" (ngSubmit) = "addRequerimiento(formAddRequerimiento.value)" >
        <p>
            <mat-form-field>
              <mat-select  class="selectorInstrumento" placeholder="Instrumento" [(ngModel)]="seleccionada" name="instrumento">
                <mat-option *ngFor="let op of array" [value]="op.id">
                  {{op.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>
          <label for="solicitantes">Numero de solicitados</label>
          <input  class="inputs_forms" type = "number" name = "solicitantes" placeholder = "Numero de solicitados" min="1" ngModel>
        <input  class="btn" type = "submit" value = "Añadir require">
      </form>
      <div class="contenedor">
        <button class="btn" (click)="volerListRequires()">Volver al menú de requerimientos</button>
      </div>
</navbar>