
<navbar>
<div class="courses-container"  *ngFor="let evento of eventos"  (click)="verRequerimientos(evento.id_evento)">
    <div class="course">
      <div class="course-preview">
        <h6>Evento</h6>
        <h2>{{evento.nombre}}</h2>
      </div>
      <div class="course-info">
        <h6>Ubicacion</h6>
        <h2>{{evento.ubicacion}}</h2>
        <h6>Fecha del evento</h6>
        <h2>{{evento.fecha_evento}}</h2>
        <section class="botonera-lista">    
          <div class="botonera-lista--forma">
          <button class="btn" *ngIf="token.director ==true" (click)="eliminarEvento(evento.id_evento)">Eliminar Evento</button>
          </div>
          <div class="botonera-lista--forma">
          <button class="btn" *ngIf="token.director ==true" (click)="cerrarEvento(evento.id_evento)">Cerrar Evento</button>
          </div>
        </section>
      </div>
    </div>
  </div>


</navbar>