<navbar>
<div class = "contenedorElementoM" *ngFor="let evento of eventos">
  <h3 style="display: none">{{ evento.id_evento }}</h3>
  <h3>- Nombre del evento: {{ evento.nombre }}</h3>
  <h3>- Ubicacion del evento: {{ evento.ubicacion }}</h3>
  <h3>- Fecha del evento: {{ evento.fecha_evento }}</h3>
  <button *ngIf="token.director ==true" (click)="eliminarEvento(evento.id_evento)">Eliminar Evento</button>
  <button  *ngIf="token.director ==true" (click)="cerrarEvento(evento.id_evento)">Cerrar Evento</button>
</div>
</navbar>